.idea/
.vscode/
*.py[cod]
__pycache__/

.venv/
.env
.env/
*.env
*.DS_Store
*.egg-info/
dist/
build/
uploads/
*.sqlite3
*.db
*.pkl
*.ipynb_checkpoints
*.coverage
.coverage.*
*.mypy_cache/
*.pytest_cache/
chart/charts/
chart/Chart.lock
*.iml
coverage.xml
.python-version
